p {text-align:left;}
head {
  background-color: lightblue;
  height: 33.33vh;
  text-align:left;
}

body {
  background-color: white;
  height: 33.33vh;
  text-align:left;

footer {
  background-color: darkblue;
  color: white;
  height: 33.33vh;
  text-align:left;
}
}