p {text-align:left;}

h2 {text-align:center;}

/* Estilo para a primeira parte (branca) */
.first-section {
  background-color: white;
  height: 33.33vh; /* Um terço da altura da página */
}

/* Estilo para a segunda parte (lightblue) */
.second-section {
  background-color: lightblue;
  height: 33.33vh; /* Um terço da altura da página */
}

/* Estilo para a terceira parte (darkblue) */
.third-section {
  background-color: darkblue;
  height: 33.33vh; /* Um terço da altura da página */
}
